.chatroom-scroller {
    height: 90vh;
}
.chatroom-scroller {
    overflow-y: scroll;
    padding: 20px;
}
.chatroom-scroller ul {
    list-style: none;
    display: block;
    width: 100%;
}

.message-row-wrapper {
    display: block;
    width: 100%;
    min-height: 70px;
}
.message-user-name-box {
    display: block;
    font-size: 12px;
}
.message-my-name-box {
    display: block;
    font-size: 12px;
    width: 100%;
    text-align: right;
}
.chatroom-others-message-box {
    margin: 5px;
    padding: 5px;
    float: left;
    display: block;
    background: slateblue;
    border-radius: 3px;
    color: white;
}
.chatroom-ours-message-box {
    margin: 5px;
    padding: 5px;
    float: right;
    display: block;
    background: lightgrey;
    border-radius: 3px;
    color: -moz-mac-accentdarkshadow;
}

.message-text-input {
    height: 50px
}